<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.graduate.dao.ContractMapper" >
  <resultMap id="BaseResultMap" type="com.graduate.model.Contract" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="c_no" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="c_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="c_type" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="party_b" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="b_contacts" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="phone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="signed_date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="end_date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="content" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="modified_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, c_no, c_name, c_type, party_b, b_contacts, phone, signed_date, end_date, content,
    create_time, modified_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.graduate.model.ContractExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from contract
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByMap" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from contract
    where 1=1
    <if test="map.id != null"> and id=#{map.id}</if>
    <if test="map.partyB != null"> and party_b=#{map.partyB}</if>
    <if test="map.cName != null"> and c_name=#{map.cName}</if>
    <if test="map.cType != null"> and c_type=#{map.cType}</if>
    <if test="map.startDate != null"> and signed_date &gt; #{map.startDate}</if>
    <if test="map.endDate != null"> and signed_date &lt; #{map.endDate}</if>
    <if test="map.startIndex != null">
      limit #{map.startIndex},#{map.pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from contract
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from contract
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.graduate.model.ContractExample" >
    delete from contract
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.graduate.model.Contract" >
    insert into contract (id, c_no, c_name,
      c_type, party_b, b_contacts,
      phone, signed_date, end_date,
      content, create_time, modified_time
      )
    values (#{id,jdbcType=BIGINT}, #{cNo,jdbcType=VARCHAR}, #{cName,jdbcType=VARCHAR},
      #{cType,jdbcType=TINYINT}, #{partyB,jdbcType=VARCHAR}, #{bContacts,jdbcType=VARCHAR},
      #{phone,jdbcType=VARCHAR}, #{signedDate,jdbcType=TIMESTAMP}, #{endDate,jdbcType=TIMESTAMP},
      #{content,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifiedTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.graduate.model.Contract" >
    insert into contract
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cNo != null" >
        c_no,
      </if>
      <if test="cName != null" >
        c_name,
      </if>
      <if test="cType != null" >
        c_type,
      </if>
      <if test="partyB != null" >
        party_b,
      </if>
      <if test="bContacts != null" >
        b_contacts,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="signedDate != null" >
        signed_date,
      </if>
      <if test="endDate != null" >
        end_date,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifiedTime != null" >
        modified_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="cNo != null" >
        #{cNo,jdbcType=VARCHAR},
      </if>
      <if test="cName != null" >
        #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cType != null" >
        #{cType,jdbcType=TINYINT},
      </if>
      <if test="partyB != null" >
        #{partyB,jdbcType=VARCHAR},
      </if>
      <if test="bContacts != null" >
        #{bContacts,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="signedDate != null" >
        #{signedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null" >
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.graduate.model.ContractExample" resultType="java.lang.Integer" >
    select count(*) from contract
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>

  <select id="countByMap" parameterType="java.util.Map" resultType="java.lang.Integer" >
    select count(*) from contract
    where 1=1
    <if test="map.partyB != null"> and party_b=#{map.partyB}</if>
    <if test="map.cName != null"> and c_name=#{map.cName}</if>
    <if test="map.cType != null"> and c_type=#{map.cType}</if>
    <if test="map.startDate != null"> and signed_date &gt; #{map.startDate}</if>
    <if test="map.endDate != null"> and signed_date &lt; #{map.endDate}</if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update contract
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.cNo != null" >
        c_no = #{record.cNo,jdbcType=VARCHAR},
      </if>
      <if test="record.cName != null" >
        c_name = #{record.cName,jdbcType=VARCHAR},
      </if>
      <if test="record.cType != null" >
        c_type = #{record.cType,jdbcType=TINYINT},
      </if>
      <if test="record.partyB != null" >
        party_b = #{record.partyB,jdbcType=VARCHAR},
      </if>
      <if test="record.bContacts != null" >
        b_contacts = #{record.bContacts,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.signedDate != null" >
        signed_date = #{record.signedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endDate != null" >
        end_date = #{record.endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifiedTime != null" >
        modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update contract
    set id = #{record.id,jdbcType=BIGINT},
    c_no = #{record.cNo,jdbcType=VARCHAR},
    c_name = #{record.cName,jdbcType=VARCHAR},
    c_type = #{record.cType,jdbcType=TINYINT},
    party_b = #{record.partyB,jdbcType=VARCHAR},
    b_contacts = #{record.bContacts,jdbcType=VARCHAR},
    phone = #{record.phone,jdbcType=VARCHAR},
    signed_date = #{record.signedDate,jdbcType=TIMESTAMP},
    end_date = #{record.endDate,jdbcType=TIMESTAMP},
    content = #{record.content,jdbcType=VARCHAR},
    create_time = #{record.createTime,jdbcType=TIMESTAMP},
    modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.graduate.model.Contract" >
    update contract
    <set >
      <if test="cNo != null" >
        c_no = #{cNo,jdbcType=VARCHAR},
      </if>
      <if test="cName != null" >
        c_name = #{cName,jdbcType=VARCHAR},
      </if>
      <if test="cType != null" >
        c_type = #{cType,jdbcType=TINYINT},
      </if>
      <if test="partyB != null" >
        party_b = #{partyB,jdbcType=VARCHAR},
      </if>
      <if test="bContacts != null" >
        b_contacts = #{bContacts,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="signedDate != null" >
        signed_date = #{signedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        end_date = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null" >
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.graduate.model.Contract" >
    update contract
    set c_no = #{cNo,jdbcType=VARCHAR},
      c_name = #{cName,jdbcType=VARCHAR},
      c_type = #{cType,jdbcType=TINYINT},
      party_b = #{partyB,jdbcType=VARCHAR},
      b_contacts = #{bContacts,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      signed_date = #{signedDate,jdbcType=TIMESTAMP},
      end_date = #{endDate,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>