<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.graduate.dao.VendorMapper" >
  <resultMap id="BaseResultMap" type="com.graduate.model.Vendor" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="v_no" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="v_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="oibc" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="salesman" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="phone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="v_type" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="status" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="modified_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, v_no, v_name, oibc, salesman, phone, v_type, status, create_time, modified_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.graduate.model.VendorExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from vendor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByMap" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from vendor
    where 1=1
    <if test="map.id != null"> and id=#{map.id}</if>
    <if test="map.vName != null"> and v_name=#{map.vName}</if>
    <if test="map.oibc != null"> and oibc=#{map.oibc}</if>
    <if test="map.vType != null"> and v_type=#{map.vType}</if>
    <if test="map.status != null"> and status=#{map.status}</if>
    <if test="map.startIndex != null">
      limit #{map.startIndex},#{map.pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from vendor
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from vendor
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.graduate.model.VendorExample" >
    delete from vendor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.graduate.model.Vendor" >
    insert into vendor (id, v_no, v_name, 
      oibc, salesman, phone, 
      v_type, status, create_time, 
      modified_time)
    values (#{id,jdbcType=BIGINT}, #{vNo,jdbcType=VARCHAR}, #{vName,jdbcType=VARCHAR}, 
      #{oibc,jdbcType=VARCHAR}, #{salesman,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{vType,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifiedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertBatch">
    INSERT INTO vendor
    (v_no, v_name, oibc, salesman, phone, status, create_time, modified_time)
    VALUES
    <foreach collection ="list" item="vendor" separator =",">
      (#{vendor.vNo}, #{vendor.vName}, #{vendor.oibc}, #{vendor.salesman}, #{vendor.phone},
      #{vendor.status}, #{vendor.createTime}, #{vendor.modifiedTime})
    </foreach >
  </insert>
  <insert id="insertSelective" parameterType="com.graduate.model.Vendor" >
    insert into vendor
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="vNo != null" >
        v_no,
      </if>
      <if test="vName != null" >
        v_name,
      </if>
      <if test="oibc != null" >
        oibc,
      </if>
      <if test="salesman != null" >
        salesman,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="vType != null" >
        v_type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="modifiedTime != null" >
        modified_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="vNo != null" >
        #{vNo,jdbcType=VARCHAR},
      </if>
      <if test="vName != null" >
        #{vName,jdbcType=VARCHAR},
      </if>
      <if test="oibc != null" >
        #{oibc,jdbcType=VARCHAR},
      </if>
      <if test="salesman != null" >
        #{salesman,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="vType != null" >
        #{vType,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null" >
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.graduate.model.VendorExample" resultType="java.lang.Integer" >
    select count(*) from vendor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="countByMap" parameterType="java.util.Map" resultType="java.lang.Integer" >
    select count(*) from vendor
    where 1=1
    <if test="map.id != null"> and id=#{map.id}</if>
    <if test="map.vName != null"> and v_name=#{map.vName}</if>
    <if test="map.oibc != null"> and oibc=#{map.oibc}</if>
    <if test="map.vType != null"> and v_type=#{map.vType}</if>
    <if test="map.status != null"> and status=#{map.status}</if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update vendor
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.vNo != null" >
        v_no = #{record.vNo,jdbcType=VARCHAR},
      </if>
      <if test="record.vName != null" >
        v_name = #{record.vName,jdbcType=VARCHAR},
      </if>
      <if test="record.oibc != null" >
        oibc = #{record.oibc,jdbcType=VARCHAR},
      </if>
      <if test="record.salesman != null" >
        salesman = #{record.salesman,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.vType != null" >
        v_type = #{record.vType,jdbcType=TINYINT},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifiedTime != null" >
        modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update vendor
    set id = #{record.id,jdbcType=BIGINT},
      v_no = #{record.vNo,jdbcType=VARCHAR},
      v_name = #{record.vName,jdbcType=VARCHAR},
      oibc = #{record.oibc,jdbcType=VARCHAR},
      salesman = #{record.salesman,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      v_type = #{record.vType,jdbcType=TINYINT},
      status = #{record.status,jdbcType=TINYINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      modified_time = #{record.modifiedTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.graduate.model.Vendor" >
    update vendor
    <set >
      <if test="vNo != null" >
        v_no = #{vNo,jdbcType=VARCHAR},
      </if>
      <if test="vName != null" >
        v_name = #{vName,jdbcType=VARCHAR},
      </if>
      <if test="oibc != null" >
        oibc = #{oibc,jdbcType=VARCHAR},
      </if>
      <if test="salesman != null" >
        salesman = #{salesman,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="vType != null" >
        v_type = #{vType,jdbcType=TINYINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null" >
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.graduate.model.Vendor" >
    update vendor
    set v_no = #{vNo,jdbcType=VARCHAR},
      v_name = #{vName,jdbcType=VARCHAR},
      oibc = #{oibc,jdbcType=VARCHAR},
      salesman = #{salesman,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      v_type = #{vType,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>